@import "variables";

.form-wide {
  @include for-phone-only {
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
  }

  @include for-tablet-up {
    padding: 18px 17px 23px;
    width: 547px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include for-tablet-only {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @include for-desktop-up {
    font-size: $main-font-size;
    height: 205px;
    line-height: 30px;
  }

  &__input {
    width: 100%;
    border: 1px solid $form-input;
    border-radius: $border-radius;
    height: 40px;
    padding-left: 16px;

    @include for-phone-only {
      &:not(:last-of-type) {
        margin-bottom: 18px;
      }
      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    @include for-tablet-up {
      width: 48.4%;
      margin-bottom: 18px;
    }
  }

  &__button {
    @include for-tablet-up {
      width: 48%;
      margin: 0 auto;
    }
  }
}
