@import "variables";

.table-container {
  font-family: $main-font;
  width: 48%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.table-copy-list {
  width: 100%;
}

// BUTTONS - COPY TABLE & DELETE TABLE
.control {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;

  // COPY TABLE - BUTTON
  &__button_copy {
    font-size: $main-font-size;
    line-height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 17px;
    margin-right: 25px;
    color: $button-font-color;
    background-color: $button-background;
    border-radius: $border-radius;
  }

  // DELETE TABLE - BUTTON
  &__button_delete {
    border: none;
    background-color: transparent;
    margin-right: 12px;
    fill: #f04e34;
  }
}

// TABLE
.table {
  border: none;
  font-size: $main-font-size;
  border-collapse: collapse;
  border-radius: 13px;
  border: 1px solid #8c9296;
  width: 100%;

  // EDIT ROW & DELETE ROW
  &__button_edit,
  &__button_delete {
    background-color: transparent;
    text-decoration: underline;
    text-transform: capitalize;
    border: none;
  }

  &__button_edit:hover,
  &__button_delete:hover {
    color: $hover-edit-delete;
  }

  // EDIT ROW - BUTTON
  &__button_edit {
    margin-right: 52px;
  }
}

th,
td {
  display: table-cell;
  padding-left: 14px;
  text-align: left;
  line-height: 32px;
  border: 1px solid #ddd;
  background-color: #fff;
}

td:last-child {
  padding-left: 44px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  border: none;

  border-radius: 15px;
}

th {
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  background-color: $table-header-background;
  color: white;
}

th:first-child {
  border-top-left-radius: 15px;
}

th:last-child {
  border-top-right-radius: 15px;
}

tr {
  border: none;
}
