@import "variables";

// BUTTONS - COPY TABLE & DELETE TABLE
.control {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;

  // copy table btn
  &__button_copy {
    font-size: $main-font-size;
    line-height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 17px;
    margin-right: 25px;
    color: $button-font-color;
    background-color: $button-background;
    border-radius: $border-radius;
  }

  // delete table btn
  &__button_delete {
    border: none;
    background-color: transparent;
    margin-right: 12px;
    fill: #f04e34;
  }
  // svg button icon
  &__button_icon {
    pointer-events: none;
  }
}

// TABLE
.table {
  font-size: $main-font-size;
  border-collapse: collapse;
  width: 100%;
  // table container
  &-container {
    font-family: $main-font;
    width: 48%;
    margin-bottom: 30px;
    margin: 0 auto;

    @include for-phone-only {
      width: 100%;
      margin-bottom: 20px;
    }

    @include for-phone-m-up {
      width: 100%;
      margin-bottom: 20px;
    }

    @include for-tablet-only {
      width: 90%;
    }

    @include for-desktop-up {
      width: 48.2%;
    }
  }
  // thead
  &__head {
    border: none;
  }
  // tbody
  &__body {
    @include for-phone-only {
      display: block;
    }
  }

  &__body tr {
    background-color: #fff;
  }

  &__body tr:nth-child(even) {
    background-color: #f1f1f1;
  }

  // edit & delete row
  &__button_edit,
  &__button_delete {
    background-color: transparent;
    text-decoration: underline;
    text-transform: capitalize;
    border: none;
  }

  &__button_edit:hover,
  &__button_delete:hover {
    color: $hover-edit-delete;
  }

  // edit row btn
  &__button_edit {
    margin-right: 52px;
  }
}

th,
td {
  display: table-cell;
  padding-left: 14px;
  text-align: left;
}

td {
  border: 1px solid $table-border-color;
  line-height: 32px;

  @include for-phone-only {
    position: relative;
    display: block;
    text-align: right;
    padding: 0 15px;
  }

  @include for-phone-up {
    font-size: 14px;
  }

  @include for-desktop-up {
    font-size: 12px;
  }

  &::before {
    @include for-phone-only {
      content: attr(data-label);
      background-color: $table-header-background;
      color: #fff;

      position: absolute;
      font-weight: 700;
      text-align: left;
      left: 0;
      padding-left: 15px;
      width: 30%;
    }
  }
}

td:last-child {
  padding-left: 44px;
  @include for-phone-only {
    text-align: center;
    background-color: #b1b1b1;
  }
}

th {
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  background-color: $table-header-background;
  color: $table-header-font-color;
}

th:first-child {
  border-top-left-radius: 3px;
}
th:last-child {
  border-top-right-radius: 3px;
  width: 32%;
}

tr {
  border-color: $table-border-color;
  border: none;
  @include for-phone-only {
    display: block;
  }
}
