@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "normalize.scss";

@import "./components/all";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

​img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.main {
  width: 100%;
  height: 100%;
  padding: 45px 0;

  @include for-phone-only {
    padding-top: 10px;
  }

  // forms wrapper
  &__forms {
    display: flex;
    flex-wrap: wrap;

    @include for-phone-only {
      margin-bottom: 20px;
    }

    @include for-desktop-up {
      justify-content: space-around;
      margin-bottom: 30px;
    }
  }
}

.form {
  display: flex;
  background-color: $form-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.button {
  font-size: 14px;
  font-weight: bold;
  color: $button-font-color;
  background-color: $button-background;
  text-transform: uppercase;
  border: none;
}

.table-copy-list {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include for-tablet-up {
    width: 660px;
  }

  @include for-desktop-up {
    width: 1235px;
  }
}
