//
$main-font: "Roboto", sans-serif;
$main-background: #e5e8ed;
$main-font-size: 12px;
$box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
$border-radius: 3px;

// form
$form-background: #fff;
$form-input: #c3ccd9;
$form-font-color: #868c96;
$button-background: #1493ff;
$button-font-color: #fff;

// modal
$modal-header-background: #393939;

// table
$table-header-font-color: #a5b5cb;
$table-header-background: #0a508c;
$table-font-color: #4f5b65;
$hover-edit-delete: #067ce1;
